<template id="login-form-template">
	<style>
		@import url("/css/styles/index.css");
	</style>
	<dialog id="login-form-dialog">
		<form name="login">
			<div>
				<label for="login-email">
					<slot name="email-label">Email</slot>
				</label>
				<input type="email" name="email" id="login-email" placeholder="user@example.com" autocomplete="email" required="" />
			</div>
			<div>
				<label for="login-password">
					<slot name="password-label">Password</slot>
				</label>
				<input type="password" name="password" id="login-password" placeholder="********" minlength="8" autocomplete="current-password" required="" />
			</div>
			<button type="submit">
				<slot name="submit-icon">Submit</slot>
			</button>
			<button type="reset">
				<slot name="reset-icon">Cancel</slot>
			</button>
		</form>
	</dialog>
</template>
