:root {
	--default-color: #343434;
	--primary-color: #fafafa;
	--alt-color: #fefefe;
	--main-font: "Roboto";
	--default-cursor: auto;

	--desktop-rem: 1.3vmax;

	--button-background: #1b5fcb;
	--button-color: var(--alt-color);
	--button-border: none;
	--button-border-radius: 0.15rem;
	--button-padding: 0.2em 1.2em;

	--button-active-background: #1048a1;
	--button-active-color: var(--button-color);
	--button-active-border: var(--button-border);

	--button-disabled-background: #787878;
	--button-disabled-color: #4e4e4e;
	--button-disabled-border: var(--button-border);

	--button-accept-background: #1FA214;
	--button-accept-active-background: #157a0c;

	--button-reject-background: #B31414;
	--button-reject-active-background: #7a0c0c;

	--dialog-border: none;

	--nav-height: 2rem;
	--header-height: 20vh;
}

.btn-confirm {
	--button-background: var(--button-confirm-background, var(--button-background));
	--button-active-background: var(--button-confirm-active-background, var(--button-active-background));
}

.btn-reject {
	--button-background: var(--button-reject-background, var(--button-background));
	--button-active-background: var(--button-reject-active-background, var(--button-active-background));
}
